body {
    background-color: #BDE0FE;
}

body {
    background-color: #e0f7fa; 
    margin: 0;
    font-family: 'Arial', sans-serif;

    text-align: center; 
}

h1 {
    font-size: 3.5em;
    color: #007bb6; 
    margin-top: 50px;
    margin-bottom: 40px; 
    text-align: center;

    text-shadow: 
        1px 1px 0 #005688, 
        2px 2px 0 #005688,
        3px 3px 0 #005688,
        4px 4px 0 #005688,
        5px 5px 10px rgba(0, 0, 0, 0.5);

}
